APP_PORT=8081

DB_HOST=host.docker.internal
DB_PORT=5432
DB_NAME=voting
DB_USER=postgres
DB_PASS=change-me

SECRET_KEY=change-this-secret-key

GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
