<!DOCTYPE html>
<html>

<head>

<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body class="bg-dark text-white">

<div class="container py-5">

<h2 class="mb-4">⚙ Admin Panel</h2>

<form method="POST">

<div class="input-group mb-4">

<input class="form-control" name="name" placeholder="New candidate">

<button class="btn btn-success">Add</button>

</div>

</form>

<h4>Candidates</h4>

<ul class="list-group mb-4">

{% for c in candidates %}

<li class="list-group-item d-flex justify-content-between">

{{c[1]}}

<a href="/delete/{{c[0]}}" class="btn btn-danger btn-sm">Delete</a>

</li>

{% endfor %}

</ul>

<form action="/reset" method="POST">

<button class="btn btn-danger w-100">🔥 Reset Votes</button>

</form>

<br>

<a href="/" class="btn btn-light">Back</a>

</div>

</body>

</html>
